body {
  margin: 0;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-family: "Jost", sans-serif;
  font-family: "Plus Jakarta Sans", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body {
  position: relative;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
}
